* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  font-family: $roboto;
  margin: 0;
  padding: 0;

  h1 {
    color: $grey;
    font-size: $heading-size;
  }

  p {
    color: $grey;
    font-size: $text-size;
  }
}